doctype html
html(lang=setLocale(locale))
  head
    meta(charset="UTF-8")
    link(rel="stylesheet", type="text/css",href=debug?"css/all.css":"css/all-min.css")
    block head_extend
  body
    block nav_bar
    block content
    block footer